.btn {
    width: 100px;
    padding: 10px 0px;
    background-color: cornflowerblue;
    border: none;
    color: white;
}

.btn--gray {
    background-color:#9fc2c9; 
}

.btn-sort {
    padding: 3px 0px;
    border-radius: 3px;
}
.btn--search {
    height: 22px;
    padding: 0px;
}